{{ partial "header.html" . }}

{{ partial "top_menu.html" . }}

<main role="main">
    <div>
        <div class="container container pt-3">
            <div class="py-2">
                <h2>{{ $.Param (print (index (split $.Dir "/") 0) ".current") }}</h2>
            </div>
            <div class="row">
                {{ range $index, $element := .Params.quarterlies }}
                {{ $t := (time $element.end_date) }}
                {{ if $t.After now }}
                <div class="col-lg-4 col-md-5 col-sm-6 mb-md-5 col-xl-3">
                    <div class="m-auto ss-quarterlies-wrapper">
                        <div class="p-3 ss-quarterlies-quarterly">
                            <a href="/{{$element.path}}">
                                <div class="ss-quarterlies-quarterly-cover" style="background-image: url('{{$element.cover}}'); margin-bottom: 15px"></div>
                            </a>
                            <a href="/{{$element.path}}" class="h5 m-0 p-0 ss-quarterlies-quarterly-title" style="">{{ $element.title }}</a>
                            <p class="p-0 mt-2 ss-quarterlies-quarterly-date text-uppercase">{{ $element.human_date }}</p>
                            <a href="/{{$element.path}}/?today" class="btn btn-outline-secondary btn-lg" role="button" aria-pressed="true">{{ $.Param (print (index (split $.Dir "/") 0) ".todaysLesson") }}</a>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
            <div class="py-2">
                <h2>{{ $.Param (print (index (split $.Dir "/") 0) ".archive") }}</h2>
            </div>
            <div class="row">
                {{ range $index, $element := .Params.quarterlies }}
                {{ $t := (time $element.end_date) }}
                {{ if $t.After now }}
                {{ else }}
                <div class="col-lg-4 col-md-5 col-sm-6 mb-md-5 col-xl-3">
                    <div class="m-auto ss-quarterlies-wrapper">
                        <div class="p-3 ss-quarterlies-quarterly">
                            <a href="/{{$element.path}}">
                                <div class="ss-quarterlies-quarterly-cover" style="background-image: url('{{$element.cover}}'); margin-bottom: 15px"></div>
                            </a>
                            <a href="/{{$element.path}}" class="h5 m-0 p-0 ss-quarterlies-quarterly-title" style="">{{ $element.title }}</a>
                            <p class="p-0 mt-2 ss-quarterlies-quarterly-date text-uppercase">{{ $element.human_date }}</p>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</main>

{{ partial "footer.html" . }}