name: content-verification
on: [pull_request]
jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '12'
        check-latest: true
    - run: npm install
    - run: npx danger ci
      env:
        GITHUB_TOKEN: ${{ secrets.DANGER_KEY }}